#First {
    border: 2em solid black;
    padding: 20pt;
    text-align: center;
}

#Image1 {
    padding-left: 34vw;
    padding-right: 34vw;
    margin: 20px;
}

#Second {
    border: 1rem solid black;
    padding: 20px;
    text-align: center;
}

#top {
    padding: 5%;
    border-bottom: 5vh solid grey;
    border-top: 5vh solid grey;

}